<div class="feat-box col-10 offset-1">
  <h1>Edit Your Place Details</h1>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name %>
    <%= f.input :occurence %>
    <%= f.input :address %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-warning' %>
    <%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: 'Are you CERTAIN you want to DELETE this entry?'},class: 'btn btn-danger' %>
  <% end %>
</div>