<div class="feat-box col-10 offset-1">
  <h1><%= @place.name %></h1>
  <h2><%= @place.occurence %></h2>
  <i><%= @place.address %></i><br /><br />
  <p><%= @place.description %></p><br />

  <% if @place.latitude.present? && @place.longitude.present? %>
    <script>

      function initMap() {
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHinkeGiAtyVR6hII-rg4yF4OBQj7b9y0&callback=initMap">
    </script>

    <div id="map"></div>
  <% end %>
  <br />
  
  <% if @place.user.present? %>
  <small>Added by: <%= @place.user.username %> &nbsp&nbsp Contact: <%= @place.user.email %></small>
  <% end %>
  <br />
  <% if current_user && current_user == @place.user %>
    <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-danger' %>
  <% end %>
</div>

<h1>Comments</h1>

<% @place.comments.each do |comment| %>
  <div>
    <blockquote>
      <% if comment.humanized_rating.present? %>
        <b><%= comment.humanized_rating %></b> -
      <% end %>
      <%= comment.message %>
      <small>by <%= comment.user.username %></small>
    </blockquote>
  </div>
<% end %>

<div class="clear"></div>
  <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
    <%= f.input :message %>
    <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
    <%= f.submit "Add your comment", class: 'btn btn-warning' %>
  <% end %>
